#dark {
  color: white;
  background-color: black;
}
#light {
  color: white;
  background-color: tan;
}
#two {
  color: yellow;
}
.dark {
  color: white;
  background-color: black;
}
.light {
  color: black;
  background-color: tan;
}
